vim:
  users:
    vagrant:
      vim_config:
        settings:
          - tabstop: 2
          - softabstop: 2
          - shiftwidth: 2
          - expandtab
      vim:
        share_dir: /home/vagrant/.vim
        config_file: /home/vagrant/.vimrc
        config_mode: '600'

vim_config:
  plugins:
    - sheerun/vim-polyglot
    -
      name: gko/vim-coloresque
      options:
        for:
          - css
          - html
          - sass
          - less

  config:
  # config is list of dicts or strings
    - syntax: 'on'
    - colorscheme desert

  settings:
  # settings is list of dicts or strings
    # dict containing list
    - bs:
      - indent
      - eol
      - start
    # string
    - showcmd
    - showmatch
    - smartcase
    - incsearch
    # key value dict
    - mouse: a
    - number
    - backspace: 2
    - tabstop: 8
    - softtabstop: 8
    - shiftwidth: 8
    - nowrap

  mappings:
  # mappings is list of dicts or strings
    # key value dict (mode defaults to map)
    -
      <C-u>: ":tabp<enter>"
    # more verbose dict
    -
      from: <C-u>
      mode: nnoremap
      to: ":tabp<enter>"
    -
      from: <C-v>
      mode: nmap
      to: ":tabps<enter>"
    # string
    - nnoremap <C-J> <C-W><C-J>
    - nnoremap <C-K> <C-W><C-K>
    - nnoremap <C-L> <C-W><C-L>
    - nnoremap <C-H> <C-W><C-H>

  lets:
  # lets must be key value pairs
    abc: def
