vim:
  managed_vimrc: true

vim_config:
  plugins: 
    - sheerun/vim-polyglot
    - 
      name: gko/vim-coloresque
      options: 
        for: 
          - css
          - html
          - sass
          - less

  config:
    syntax: 'on'
    colors: desert

  settings:
    et:
    cin:
    ru:
    bs: indent,eol,start
    showcmd:
    showmatch:
    smartcase:
    incsearch:
    autowrite:
    hidden:
    mouse: a
    number:
    backspace: 2
    noerrorbells:
    novisualbell:
    background: dark
    ai:
    si:
    cindent:
    tabstop: 8
    softtabstop: 8
    shiftwidth: 8
    nowrap:
    swapsync: ''

  mappings:
    - 
      from: <C-u>
      mode: nnoremap
      to: ":tabp<enter>"
    - 
      from: <C-v>
      mode: nmap
      to: ":tabps<enter>"
    - 
      <C-u>: ":tabp<enter>"

  lets:
    &colorcolumn: join(range(121,121),",")

