{% set vim = salt['grains.filter_by']({
    'Arch': {
        'pkg': 'vim',
        'share_dir': '/usr/share/vim/vimfiles',
    },
    'Debian': {
        'pkg': 'vim',
        'share_dir': '/usr/share/vim/vimfiles',
    },
    'RedHat': {
        'pkg': 'vim-enhanced',
        'share_dir': '/usr/share/vim/vimfiles',
    },
    'Suse': {
        'pkg': 'vim',
        'share_dir': '/usr/share/vim/site',
    },
    'FreeBSD': {
        'pkg': 'vim',
        'share_dir': '/usr/local/share/vim/vimfiles',
    },
}, merge=salt['pillar.get']('vim:lookup')) %}
