{% import_yaml "vim/defaults.yaml" as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'alternatives': {
            'link': '/usr/bin/editor',
            'path': '/usr/bin/vim.basic',
            'priority': 100,
        },
        'vim_config': '/etc/vim/vimrc',
    },
    'OpenBSD': {
        'pkgs': ['vim--no_x11'],
        'vim_share_dir': '/usr/local/share/vim/vimfiles',
        'vim_config_group': 'wheel',
    },
    'RedHat': {
        'pkgs': ['vim-enhanced'],
    },
    'Suse': {
        'vim_share_dir': '/usr/share/vim/site',
    },
    'FreeBSD': {
        'vim_share_dir': '/usr/local/share/vim/vimfiles',
        'vim_config_group': 'wheel',
        },
    'Gentoo': {
        'pkgs': ['app-editors/vim'],
        'vim_config_group': 'wheel',
    },
}, grain="os_family", merge=salt['pillar.get']('vim:lookup')) %}

{% do default_settings.vim.update(os_family_map) %}

{% set vim = salt['pillar.get']('vim', default=default_settings.vim, merge=True) %}
{% set vim_config = salt['pillar.get']('vim_config', default=default_settings.vim_config, merge=True) %}
